openapi: 3.1.0
info:
  title: dbt Cloud Administrative Accounts Runs API
  description: The dbt Cloud Administrative API enables programmatic management of dbt Cloud accounts, projects, jobs, runs, environments, and other resources. The API supports automation of dbt Cloud workflows and integration with external orchestration tools.
  version: '3'
  contact:
    name: dbt Labs Support
    url: https://www.getdbt.com/community
servers:
- url: https://cloud.getdbt.com/api/v3
  description: Multi-tenant production
- url: https://cloud.getdbt.com/api/v2
  description: Legacy v2 API
security:
- bearerAuth: []
tags:
- name: Runs
paths:
  /accounts/{accountId}/jobs/{jobId}/run/:
    post:
      summary: Trigger a job run
      operationId: triggerJobRun
      tags:
      - Runs
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: integer
      - in: path
        name: jobId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Job run triggered.
  /accounts/{accountId}/runs/:
    get:
      summary: List runs
      operationId: listRuns
      tags:
      - Runs
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A list of runs.
  /accounts/{accountId}/runs/{runId}/:
    get:
      summary: Get a run
      operationId: getRun
      tags:
      - Runs
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: integer
      - in: path
        name: runId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A run resource.
  /accounts/{accountId}/runs/{runId}/artifacts/:
    get:
      summary: List run artifacts
      operationId: listRunArtifacts
      tags:
      - Runs
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: integer
      - in: path
        name: runId
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: A list of run artifacts (manifest.json, catalog.json, run_results.json).
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Token
